/* web-app.css CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

body {
  background-color: blue;
  font-size: 16px;
  height: 100vh; /* make the "page" the full height */
}

.web-app {
    width: 50%;
    margin: 0 auto;
    border:  2px solid #000000;
}


